.nav-tabs {
    flex-wrap: nowrap;
  }
  

  
  .nav-tabs .nav-link.active {
    background-color: #444749;
    color:rgb(255, 255, 255);
  }


  textarea.form-control {
    background-color: rgb(248, 248, 216);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textarea-container {
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: "";
  }
  
  .vertical-space {
    margin-bottom: 40px;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }