<div class="container">
 
        <h2 class="fw-bolder my-5 text-center">Confirmación de Reunión / Audiencia</h2>

        <div class="borde mx-5">

            <h4 class="fw-bolder mb-4">Datos precargados</h4>

            <div class="row px-5">
                <div class="col-md-6 mb-4">
                    <div class="form-group">
                        <label class="fw-bolder me-4">Fecha: </label>
                        <label>{{date}}</label>
                        <!-- <input type="text" class="form-control" placeholder="12/06/2023" disabled /> -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bolder me-4">Horario: </label>
                        <label>{{horario}}</label>
                        <!-- <select id="inputState" class="form-control" disabled>
                            <option selected>12:30 hrs</option>
                        </select> -->
                    </div>
                </div>
            <!-- </div>

            <div class="row"> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bolder me-5">Tema: </label>
                        <label>{{tema}}.</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="fw-bolder me-5">UAS: </label>
                        <label>{{UAS}}</label>
                    </div>
                </div>
            </div>
            
            
        </div> <!-- Borde cierra -->

        <div class="row">
            <div class="col-md-12">
                <h4 class="sesion">¿La sesión se llevó a cabo?</h4>
            </div>

            <div class="col-md-12 btn-flex">

                <button type="button" class="btn btn-success btn-lg btn-large">Si</button>
                <button type="button" class="btn btn-danger btn-lg btn-large">No</button>

            </div>
        </div>

        <div class="row px-6">
            <div class="col-md-12 color mb-5">
                <h4 class="sesion">Observaciones:</h4>
                
                <div class="form-group text-area-flex pb-5">
                    <textarea class="form-control text-area" rows="3"></textarea>
                  </div>
            </div>
        </div>


   

</div>