<div class="horizontal-menu">
    <nav class="navbar top-navbar">
        <div class="container">
            <nav class="navbar-content">
                <a href="#" class="navbar-brand">
                    <img src="assets/img/icons/gobMx.png" alt="gobMX">
                </a>
                 
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <div class="fs-9 text-light fw-bold">
                            <i class="icon feather icon-bell"></i>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div>
                           
                            <div class="fs-9 text-light fw-bold">
                                Jaime Perez

                            </div>
                            <div class="fs-8 text-light">
                                Representante DCE
                            </div>
                        </div>
                    </li>

                </ul>

                <form class="search-form">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="icon feather icon-user"></i>
                        </div>
                    </div>
                </form>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="horizontal-menu-toggle">
                    <i class="icon feather icon-menu"></i>
                </button>
            </nav>
        </div>
    </nav>

</div>