<div class="container px-5 py-5">

  <h2 class="fw-bold mt-4">Plantilla de correo</h2>
  

<div class="sasar">
  <p class="text-center texto-p">SASAR</p>
</div>

<div class="borde">

<h5 class="fw-bold">Estimado: <span class="font-monospace">{{usuario}}</span></h5>

<p class="mt-4 text-xl-start">Se le ha asignado el turno que corresponde al documento con el folio:</p>

<span>123-ABCD</span>

<p class="bold">Se informan los detalles de su cita:</p>

<div class="tabla">

  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="fw-bolder fs-6">Empresa</th>
          <th scope="col" class="fw-bolder fs-6">Fecha</th>
          <th scope="col" class="fw-bolder fs-6">Tipo de Reunión</th>
          <th scope="col" class="fw-bolder fs-6">Hora</th>
          <th scope="col" class="fw-bolder fs-6">Modalidad</th>
          <th scope="col" class="fw-bolder fs-6">Servidor Público a Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="fw-bold"> XX </th>
          <td class="fw-bold">15/06/2023</td>
          <td class="fw-bold"> Sesion Informativa </td>
          <td class="fw-bold"> 11:00 hrs </td>
          <td class="fw-bold"> Virtual </td>
          <td class="fw-bold"> XXXXXXXX </td>
        </tr>
      </tbody>
    </table>

</div>

<p>Para poder confirmar, dar clic en el boton de abajo</p>

<p class="bold">Sin otro particular, reciba un cordial saludo</p>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-success btn-lg btn-block btn-large">Confirma tu cita aquí</button>
</div>

<p class="link">Link de reunion: <span class="nota"> https://meet.jit.si/moderate/?id_herramientas/generador-de-enlaces/</span></p>

<p class="link">Contraseña: <span class="nota">p4ssw0rd</span></p>

<p class="link">*Nota: <span class="nota text-decoration-underline">En caso de presentar fallas técnicas derivadas de su conectividad a internet al momento de atender la reunión. ASEA no se hace responsable</span></p>

</div>
</div>