
<div class="page-content">
        
    <p class="breadcrumb-item active fw-bold text-dark">Para realizar el llenado del presente formato, deberá ser lo más detallado en sus temas y/o dudas a tratar, con la finalidad de otorgar atención con mayor eficiencia.
        Así mismo declara que los datos y, en su caso documentos proporcionados son verídicos.</p>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 container">
                        <div class="row">
                        <div class="form-check form-check-inline col-lg col-3">
                            <input type="radio" class="form-check-input" name="gender_radio" id="gender1" disabled>
                            <label class="form-check-label" for="gender1">
                           Regulado
                            </label>
                        </div>
                        <div class="form-check form-check-inline col-lg col-3">
                            <input type="radio" class="form-check-input" name="gender_radio" id="gender2" checked>
                            <label class="form-check-label" for="gender2">
                           Tercero
                            </label>
                        </div>
                        <div class="form-check form-check-inline col-lg col-3">
                            <input type="radio" class="form-check-input" name="gender_radio" id="gender3" disabled>
                            <label class="form-check-label" for="gender3">
                            Asociación
                            </label>
                        </div>
                        </div>
                    </div>
                    <div class="mb-3 containert">
                        <div class="row">
                            <h4 class="card-title col-12 col-lg-6 mt-2 fw-bold">Datos del solicitante</h4>
                            <div class="col-12 col-lg-6">
                                <div class="row">
                                    <div class="col-2"><label for="exampleInputDisabled1" class="form-label mt-2">Fecha</label></div>
                                    <div class="col-10">
                                        <input type="text" class="form-control" id="exampleInputDisabled1" disabled value="02/05/2023">
                                       </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 container">
                        <label for="ageSelect" class="form-label fw-bold">Actividad preponderante</label>
                        <select class="form-select" name="age_select" id="ageSelect" disabled>
                            <option  disabled>Selecciona una opción</option>
                            <option selected>El reconocimiento y exploración superficial, y la exploración y extracción de hidrocarburos </option>
                            <option>El tratamiento, refinación, enajenación, comercialización, transporte y almacenamiento del petróleo</option>
                            <option>El procesamiento, compresión, licuefacción, descompresión y regasificación, así como el transporte, almacenamiento...</option>
                            <option>El transporte, almacenamiento, distribución y expendio al público de gas licuado de petróleo</option>
                            <option>El transporte, almacenamiento, distribución y expendio al público de petrolíferos</option>
                            <option>El transporte por ducto y el almacenamiento, que se encuentre vinculado a ductos de petroquímicos producto del ...</option>
                            <option>N/A</option>
                            <option>Otro</option>
                        </select>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-12">
                                <div></div>
                                <label for="name" class="form-label">Nombre*</label>
                                <input id="name" class="form-control" name="name" type="text" disabled value="Gerardo">
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="apelliPat" class="form-label">Primer Apellido*</label>
                                <input id="apelliPat" class="form-control" name="apelliPat" type="name" value="Lopéz" disabled>
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="apelliMat" class="form-label">Segundo Apellido</label>
                                <input id="apelliMat" class="form-control" name="apelliMat" type="name" value="Mendoza" disabled>
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="apelliMat" class="form-label">RFC*</label>
                                <input id="rfc" class="form-control" name="rfc" type="name" value="LOMG345467AH8" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="contain-gray container py-3">
                            <h4>Para poder continuar con el llenado del formato, es obligatorio proporcionar 
                                la información del permiso CRE (Solo aplica a Regulados)</h4>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-lg-12">
                                    <label for="defaultconfig-3" class="col-form-label">Permisos CRE</label>
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control" maxlength="10" name="defaultconfig-3" id="defaultconfig-3" type="text" placeholder="CRE permit" value="Permiso" disabled>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-lg-12">
                                    <label for="defaultconfig-4" class="col-form-label">Expediente, trámite o registro</label>
                                </div>
                                <div class="col-lg-12">
                                    <textarea id="maxlength-textarea" class="form-control heg-4rem" id="defaultconfig-4" maxlength="100" rows="8" placeholder="Texto..."  disabled>Expediente</textarea>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-lg-12">
                                    <label for="defaultconfig-4" class="col-form-label">Asunto a tratar</label>
                                </div>
                                <div class="col-lg-12">
                                    <textarea id="maxlength-textarea" class="form-control" id="defaultconfig-4" maxlength="100" rows="8" placeholder="Texto..."  disabled>Asunto a tratar</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row mt-3">
                            <h2 class="card-title">Datos del representante legal*</h2>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="name" class="form-label">Nombre</label>
                                <input id="name" class="form-control" name="name" type="text" disabled  value="Juan">
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="name" class="form-label">Primer Apellido</label>
                                <input id="apepat" class="form-control" name="name" type="text" disabled  value="Martinez">
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="name" class="form-label">Segundo Apellido</label>
                                <input id="apemat" class="form-control" name="name" type="text" disabled  value="Peréz">
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="name" class="form-label">RFC</label>
                                <input id="rfc" class="form-control" name="name" type="text" disabled  value="MAPJ346678TRG">
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input id="email" class="form-control" name="email" type="email" disabled  value="email@gmail.com">
                            </div>
                            <div class="mb-3 col-lg-6 col-12">
                                <label for="email" class="form-label">Confirmación correo electrónico</label>
                                <input id="email" class="form-control" name="email" type="email" disabled  value="email@gmail.com">
                            </div>
                            <div class="mb-3 col-12 col-lg-6">
                                <label class="form-label">Teléfono filo:</label>
                                <input class="form-control mb-4 mb-md-0" data-inputmask-alias="(+99) 9999-9999" disabled  value="55 556677 77"/>
                            </div>
                            <div class="mb-3 col-12 col-lg-6">
                                <label class="form-label">Teléfono móvil:</label>
                                <input class="form-control mb-4 mb-md-0" data-inputmask-alias="(+99) 9999-9999" disabled  value="55 677888 12"/>
                            </div>
                            <div class="mb-3 col-12 col-lg-6">
                                
                                    <label for="defaultconfig-4" class="col-form-label">Documento que acredite su personalidad</label>
                               
                               
                               
                                    <textarea id="maxlength-textarea" class="form-control heg-4rem" id="defaultconfig-4" maxlength="100" rows="8" placeholder="Texto..." disabled>INE</textarea>
                               
                               
                            </div>
                            <div class="mb-6 col-12 col-lg-6">
                                
                                <div class="d-flex d-flex aligns-items-center justify-content-end"> 
                                    <button type="submit" class="btn btn-secondary me-2" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Estatus del Representante Legal</button>
                                </div>
                               
                               
                           
                                
                           
                             </div>
                        </div>
                        

                    </div>
                    <div class="container mt-3">
                        <div class="row bg-black-sas">
                            <div class="col">
                                <span>Nombre</span>
                            </div>
                            <div class="col">
                                <span>Cargo</span>
                            </div>
                            <div class="col">
                                <span>Compañia</span>
                            </div>
                            <div class="col">
                                <span>Correo</span>
                            </div>
                           
                        </div>
                        <div class="resultperson row mt-2">
                            <div class="col">
                                <span>Jorge Jimenez</span>
                            </div>
                            <div class="col">
                                <span>Gerente de operaciones</span>
                            </div>
                            <div class="col">
                                <span>Casera del Sur</span>
                            </div>
                            <div class="col">
                                <span>Jimenez@gmail.com</span>
                            </div>
                            
                        </div>
                        <div class="resultperson row mt-2">
                            <div class="col">
                                <span>Oscar García</span>
                            </div>
                            <div class="col">
                                <span>Gerente de operaciones</span>
                            </div>
                            <div class="col">
                                <span>Casera del Sur</span>
                            </div>
                            <div class="col">
                                <span>Jimenez@gmail.com</span>
                            </div>
                            
                        </div>
                        <div class="resultperson row mt-2">
                            <div class="col">
                                <span>Alan Juárez</span>
                            </div>
                            <div class="col">
                                <span>Gerente de operaciones</span>
                            </div>
                            <div class="col">
                                <span>Casera del Sur</span>
                            </div>
                            <div class="col">
                                <span>Jimenez@gmail.com</span>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container content-blue mt-1 text-dark">
        <b>Con el llenado de este formato el interesado acepta que, de conformidad con la legislación aplicable en caso de audiencia
            podrá ser grabada y el registro publicado en:
        </b>
        <a class="linkasea" href="">www.gob.mx.asea</a>
        <span>By filling out this form the interesed party accepts that, in accordance with the aplicable legislation in the
            eventoof a hearing, it may be recorded and the record published in:
        </span>
        <a class="linkasea" href="">www.gob.mx.asea</a>
    </div>
  
    <div class="container content-blue text-dark">
        <b>Si identificas algún acto de corrupción por parte de las personas servidoras pública de la ASEA,
            ponemos a tu disposición el siguiente correo electrónico:
        </b>
        <a class="linkasea" href="">aseacontralacorrupción@asea.gob.mx</a>
        <span>If you identify any act corruption on the part of ASEA public servants, we make avialable to you
            the following email address:
        </span>
        <a class="linkasea" href="">aseacontralacorrupción@asea.gob.mx</a>
    </div>
    
    <div class="container row mt-3 mb-3">
        <div class="col-3 ms-auto">
            <button type="submit" class="btn btn-send me-2" routerLink="/nocumple">No cumple</button>
        </div>
        
        <div class="col-3 ms-auto">
            <button type="submit" class="btn btn-save me-2" routerLink="/cumple">Cumple</button>
        </div>
       
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header content-gray-add">
          <h5 class="modal-title " id="exampleModalLabel">Estatus de Representante Legal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="col-3 ms-auto d-flex justify-content-center">
                
            </div>

            <div class="d-flex justify-content-center">
                <a  class="navbar-brand ">
               
                    <div class="vertical-space"></div>
                    <div class="d-flex justify-content-center fw-bold ">
                       <p> <i class="icon feather icon-circle icon-RLredsasar"></i> Activo en OPE con documentación completa</p>
                    </div>
                    <div class="vertical-space"></div>
                    
                    <div class="d-flex justify-content-center ">
                        <button type="submit" class="btn btn-save me-2">Aceptar</button>
                  
                </div>
                </a>
            </div>
        </div>
       
      </div>
    </div>
  </div>

